{% extends 'base.html' %}
<h1>Home</h1>
    {% block head %}
    <title>Welcome</title>
    {% endblock %}

  <body>
    {% block body%}
  
  {% if user.is_authenticated %}

    <form action="{% url 'create' %}">
      <button>Add student</button>
    </form>

 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

  
 <div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>School</h3>
          <p>The atmosphere in school is fun.</p>
        </div>      
      </div>
    </div>
</body>

  






  {% else %}
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

  
 <div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>School</h3>
          <p>The atmosphere in school is fun.</p>
        </div>      
      </div>
    </div>
</body>


  {% endif %}

    {% endblock %}





